* {
    font-family: "Segoe UI", fantasy;
}

.text-yellow {
    color: #ccb27f;
}

.text-white {
    color: #fff;
}

.text-grey {
    color: #7c7c7c;
}

.show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

button.primary {
    color: #fff;
    background-color: #ccb27f;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 8px 16px;
    border: 1px solid #fff;
    cursor: pointer;
}

button.outlet {
    color: #ccb27f;
    background-color: transparent;
    font-weight: bold;
    padding: 8px 16px;
    border: 1px solid transparent;
    cursor: pointer;
}

button.outlet.active {
    border-color: #ccb27f;
}