.root {
  padding: 48px 0 0;
}

.pagination {
  display: flex;
  justify-content: center;
  background-color: #191a1c;
  padding: 12px 0;
}

.pagination button {
    margin-right: 8px;
}

.pagination button:last-child {
    margin-right: 0;
}